* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 40px;
}

ul {
    list-style: none;
}

footer > p {
    padding: 20px;
}

p {
    padding: 30px;
    margin-top: 30px;
}

button {  
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 16px;
    max-width: 100px;
    text-align: center;
    border: 1px solid #030303;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
}

button:hover {
    background-color: #c78c161d;
    cursor: pointer;
}

@media (min-width: 530px) and (max-width: 860px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 100%;
    }

     .top-row h1 {
        font-size: 2rem;
    }

    .top-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: flex-start; 
        gap: 5px; 
    }

    .top-row #searchInput {
        min-width: 200px;
        max-width: 400px;
        margin-right: 20px;
   
    }
   
    .bottom-row {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0; 
    }

    .bottom-row #orderBy, .bottom-row #countInput  {
        min-width: 100px;
        padding: 3px;
    }

    .bottom-row{
        margin-left: 70px;
    }

    .bottom-row #searchBtn {
        padding: 5px 10px;
    }
}
@media (max-width: 530px){
    header {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 100%;
    }

    .top-row h1 {
        font-size: 1.5rem;
    }

    .top-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: flex-start; 
        gap: 5px; 
    }

    .top-row #searchInput {
        min-width: 150px;
        max-width: 300px;
        margin-right: 1px;
   
    }

    .bottom-row {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0; 
       
    }

    .bottom-row #orderBy, .bottom-row #countInput  {
        min-width: 80px;
        padding: 2px;
    }

    .bottom-row{
        margin-left: 70px;
    }

    .bottom-row #searchBtn {
        padding: 3px 6px;
    }
}