* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 30px;
}

ul {
    list-style: none;
}

footer > p {
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#searchInput {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px black solid;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18); 
}
#orderBy, #countInput {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px black solid;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18);
    cursor: pointer;
}

#searchBtn {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 20px;
    background-color: white;
    border: 1px black solid;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18);
}

#searchBtn:hover, #orderBy:hover, #countInput:hover, #searchInput:hover, button:hover {
    border: 1.5px rgb(175, 83, 8) solid;
    cursor: pointer;
}

button:hover {
    background-color: rgba(175, 83, 8, 0.184);
}

button {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 20px;
    background-color: white;
    border: 1px black solid;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.18);
    margin: 20px;
}

p {
    padding: 30px;
    margin-top: 30px;
}